<div id="header">
  <%= render partial: 'partials/header' %>
</div>

<div class="landing">
  <section class="background">
    <div class="content">
      <h1 class="shadow">Save the Tiger Fund</h1>
    </div>
  </section>

  <section class="background2">
    <div>
      <h1>Where Cool Cats Meet</h1>
    </div>
  </section>

  <section class="flex-con">

    <h1>Our Mission</h1>

    <div class="features">

      <div class="feature">
        <%= fa_icon 'apple 4x'%>

        <h2>We Love Apple</h2>
        <div class="desc">
          Guaranteed to use the same fucking template that every other bootstrap website uses, downloaded straight from The Web™
        </div>
      </div>

      <div class="feature">
        <%= fa_icon 'envira 4x' %>
        <h2>This Set of Four Icons</h2>
        <div class="desc">
          Look at this cool set of four icons describing different things about us! We use four, because it's the default.
        </div>
      </div>

      <div class="feature">
        <%= fa_icon 'pinterest 4x' %>
        <h2>Lots of effort</h2>
        <div class="desc">
          We even changed some of the icons! We take the extra effort to make our designs truly original.
        </div>
      </div>

      <div class="feature">
        <%= fa_icon 'youtube-play 4x' %>
        <h2>Made with Love</h2>
        <div class="desc">
          Because nothing says hard work and talent like editing a few lines of text.
        </div>
      </div>

    </div>

  </section>

  <section class="image-row">

    <div class="img-col">
      <%= image_tag "t2.jpg" , class: "img-responsive" %>

      <div class="box-caption">
        <div class="caption-content">
          <div class="project-category">
            WOW
          </div>
          <div class="project-name">
            Look
          </div>
        </div>
      </div>

    </div>

    <div class="img-col">
      <%= image_tag "t1.jpg" , class: "img-responsive" %>

      <div class="box-caption">
        <div class="caption-content">
          <div class="project-category">
            WOW
          </div>
          <div class="project-name">
            At
          </div>
        </div>
      </div>
    </div>

    <div class="img-col">
      <%= image_tag "t3.jpg", class: "img-responsive" %>

      <div class="box-caption">
        <div class="caption-content">
          <div class="project-category">
            WOW
          </div>
          <div class="project-name">
            This
          </div>
        </div>
      </div>
    </div>

    <div class="img-col">
      <%= image_tag "t4.jpg" , class: "img-responsive" %>

      <div class="box-caption">
        <div class="caption-content">
          <div class="project-category">
            WOW
          </div>
          <div class="project-name">
            Beast
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="contact">
    <h1>Save The Tiger</h1>
    <hr />

    <div class="info">
      Today, about 3,900 tigers are left in the wild, occupying a mere four percent of their former range. This catastrophic population decline is driven by a range of threats, including poaching for the illegal wildlife trade, overhunting of prey species by local people, habitat loss and fragmentation, and human-tiger conflict.    <br/><br/>

      Let's help to save the tiger today!
    </div>

    <div class="info2">
      <div class="con-float">
        <%= fa_icon 'phone 3x' %>
        <h3>+1-666-420-6969</h3>
      </div>

      <div class="con-float">
        <%= fa_icon 'envelope 3x' %>
        <h3><a href="mailto:edwinyiing@gmail.com">tiger@roxx.com</a></h3>
      </div>

    </div>


  </section>
</div>
